---
tags:
  - formal-verification
created: 2026-08-23
---
The term formal verification is a process of proving that a software system or algorithm strictly satisfies a precise mathematical specification or its behaviour. You can use a programming language such as [[coq|Coq]], Lean to prove a formal system
